<!DOCTYPE html>
<html lang="en">

  <head>
    <link href="{{ url_for('static', filename='css/stylesheet.css') }}" rel="Stylesheet">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a class='aboutme' href="./aboutme">About Me</a>
      {% if current_user.is_authenticated %}
        <a href="{{ url_for('logout') }}">Logout</a>
      {% else %}
        <a href="./login">Log In</a>
      {% endif %}
    </nav>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <h4 style="color:cyan">{{ message }}</h4>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% if current_user.is_authenticated %}
      <h4 style="color: cyan">Hi {{ current_user.name.title() }}!</h4>
    {% endif %}

    <br/>
    <b>Name: </b><a style="color: white">{{ current_user.name }}</a><br>
    <b>Username: </b><a style="color: white">{{ current_user.username }}</a><br>
    <b>User Id: </b><a style="color: white">{{ current_user.id }}</a><br>
    <b>Email: </b><a style="color: white">{{ current_user.email }}</a><br>
    <b>Date Joined: </b><a style="color: white">{{ current_user.joined_at }}</a><br>
  </body>

</html>