p {
  color: green;
}

.Bulletpoints {
    color:rgb(252, 252, 252);
}

.capitalize {
    text-transform: capitalize;
}

#title {
  font-family: cursive; 
  color: white;
}

img[src*='image_brownbear']{
    height: 300px;
}

video[src*='htmlcss1-vid_brown-bear']{
    height: 300px;
}

a:hover{
    color: red;
  }

  body {
    background: white;
    background: -webkit-linear-gradient(-45deg, #35577D, #141E30);
    background: linear-gradient(-45deg, #35577D, #141E30);
    margin: 0;
    padding: 0;
  }

  h3, li {
    color: white;
  }

  li a {
    color: white;
  }
