<!DOCTYPE html>

<html>
<head>
  <link href="{{ url_for('static', filename='css/stylesheet.css') }}" rel="Stylesheet">
  <title>About Me</title>
</head>
<body>
  <nav>
    <a href="/">Brown Bear</a>
    <a href="./aboutme">About Me</a>
  </nav>

<h1>About Me</h1>
<h3>Edward Perry</h3>
<img src="{{ url_for('static', filename='images/aboutme.jpg') }}" width="150" height="150">

 
  <p>Hello viewer, I'm excited to bring you my first completed website. I know, I know it very basic. But I will be adding more functionality to in the future. Be sure to check back!<br/><br/>

    Edward P.

  </p>
</body>
</html>